.pujasList{
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    background-color: burlywood;
    width: 600px;
}
.pujasList__puja{
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(252, 238, 221);
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px 5px grey;
    list-style: none;
    display: inline-block;
}
.pujasList__button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}